{% extends "Home.html" %}

{% block title %}Event List{% endblock %}

{% block section-title %}Event List{% endblock %}

{% block content %}
<div class="container-fluid" data-aos="fade-up">
    <div class="row d-flex">

        <!-- Genre Sidebar -->
        <div class="col-md-3 bg-secondary rounded shadow-sm p-4 ps-3 pe-3" style="width: 25em;">
            <div class="list-group ps-2">
                <h4 class="text-center mb-4 text-light">Genres</h4>
                <a href="{% url 'event_list' %}" class="list-group-item list-group-item-action bg-dark text-light rounded mb-2">
                    All Events
                </a>
                {% for genre in genres %}
                    <a href="{% url 'get_genre' genre.name %}" class="list-group-item list-group-item-action bg-dark text-light rounded mb-2">
                        {{ genre.name }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9 flex-column ps-5">
            <!-- Search Bar -->
            <div class="container" data-aos="fade-up">
                <h4 class="text-center mb-4">Search Events</h4>
                <form class="d-flex justify-content-center align-items-center bg-light shadow-sm" method="GET" action="{% url 'search' %}">
                    <div class="input-group w-75">
                        <input type="text" class="form-control" name="name" placeholder="Event Name" aria-label="Event Name">
                        <div class="input-group-append">
                            <select class="form-select" id="genre" name="genre">
                                <option value="" selected disabled>Select Genre</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.name }}">{{ genre.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i> Search
                        </button>
                    </div>
                </form>
            </div>

            <br><br>

            {% if events %}
                <div class="container" data-aos="fade-up">
                    {% if search_query %}
                        <div class="alert alert-info alert-dismissable fade show" role="alert">
                            <div class="input-group">
                                <strong>Searching for: <span class="fw-bold">{{ search_query }}</span></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: auto;"></button>
                            </div>
                        </div>
                    {% endif %}

                    {% if genre_name %}
                        <div class="alert alert-info" role="alert">
                            <div class="input-group">
                                <strong>Retrieving <span class="fw-bold">{{ genre_name }}</span> Events</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: auto;"></button>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% for event in page_obj %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    {% if event.get_media %}
                                        {% for media in event.get_media %}
                                            <img src="{{ media.image.url }}" alt="{{ media.name }}" style="max-width: 100%; height: auto;">
                                        {% endfor %}
                                    {% else %}
                                        <img src="https://via.placeholder.com/150" alt="No image available" style="max-width: 100%; height: auto;">
                                    {% endif %}
                                    <h5 class="card-title text-center"><a href="{% url 'details' event.id %}">{{ event.name }}</a></h5>
                                    <p class="card-text">{{ event.details|slice:":100" }}...</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No events available.</p>
            {% endif %}

            {% comment %} <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div> {% endcomment %}

            <div class="pagination d-flex justify-content-center mt-4">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo; First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <!-- Display page numbers -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">Last &raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

