<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event List</title>
</head>
<body>
    <header>
        <h1>Event List</h1>
        <nav>
            <ul>
                <li><a href="{% url 'create_event' %}">Create New Event</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li> <!-- Link to logout -->
            </ul>
        </nav>
    </header>

    <main>
        {% if events %}
            <ul>
                {% for event in events %}
                    <li>
                        <h2>{{ event.name }}</h2>
                        <p><strong>Date:</strong> {{ event.date }}</p>
                        <p><strong>Start Time:</strong> {{ event.start_time }}</p>
                        <p><strong>End Time:</strong> {{ event.end_time }}</p>
                        <p><strong>Posted By:</strong> {{ event.posted_by.get_username }}</p>
                        <p><strong>Venue:{{event.venue_id}}</strong></p>
                        <p><strong>Genres:{{event.genres.all}}</strong></p> <!--Might not be correct-->
                        
                        <!-- Could be simplified, need to look into it-->
                        {% with event_media=event.eventmedia_set.all %}
                        {% if event_media %}
                        <div class="event-media">
                            <h4>Event Media</h4>
                            <ul>
                                {% for media in event_media %}
                                <li>
                                    <h5>{{ media.type }}</h5>
                                    <img src="{{ media.image.url }}" alt="Event Image" style="max-width: 300px;">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <p>No media available for this event.</p>
                        {% endif %}
                    {% endwith %}
                        <hr> <!-- Add a line break for visual separation -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No events available.</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Tickx </p> <!-- Replace with your website name -->
    </footer>
</body>
</html>
