<!-- <!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Event Management System</h1>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
</body>
</html> -->

{% load static %}

<!-- MAIN NOTE: Could act as skeleton template-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tickx - {% block title %}Home Page{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Updated: Aug 08 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- In case we have a website logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">TICKX</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url "create_event" %}">Post</a></li>
          <li class="dropdown"><a href="#"><span>Genres</span> <i
            class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          {% for genre in genres %}
          <li><a href="{% url "get_genre" genre.name %}">{{genre.name}}</a></li>
          {% endfor %}
        </ul>
      </li> 
          <li><a href="{% url "event_list" %}">List</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- Probably Not Required-->
      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <!-- <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Home Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Ticks</a></li>
            <li class="current">Home Page</li>
          </ol>
        </nav>
      </div>
    </div>End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Note: NEED TO HANDLE AUTHENTICATION PROPERLY -->
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>{% block section-title %} WELCOME TO TICKX{% endblock %}</h2>
          {% if signed_in %}
          <p>
          Welcome, {{ signed_in }}<br>
          <a href="{% url 'logout' %}">Logout</a>
          </p>
          {% else %}
          <div class="d-flex gap-2">
            {% comment %} <a href="{% url 'login'%}">Sign In</a> {% endcomment %}
            {% comment %} <a href="{% url 'register'%}">Register</a> {% endcomment %}
            <form method="GET" action="{% url "login" %}"><button class="btn btn-outline-secondary" type="submit">Sign In</button></form>
            <form method="GET" action="{% url "register" %}"><button class="btn btn-secondary" type="submit">Register</button></form>
          </div>
          {% endif %}
        </div>
      </div><!-- End Section Title -->

      {% block content %}

      <!-- Search Bar -->
      <div class="container" data-aos = "fade-up">
        <h4 class="text-center mb-4">Search Events</h4>
        <form class="d-flex justify-content-center align-items-center bg-light shadow-sm" method="GET" action="{% url 'search' %}">
            <div class="input-group w-75">
                <input type="text" class="form-control" name="name" placeholder="Event Name" aria-label="Event Name">
                {% comment %} <input type="text" class="form-control" name="genre" placeholder="Genre" aria-label="Genre"> {% endcomment %}
                <div class="input-group-append">
                  <select class="form-select" id="genre" name="genre">
                      <option value="" selected disabled>Select Genre</option>
                      {% for genre in genres %}
                      <option value="{{genre.name}}">{{genre.name}}</option>
                      {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i> Search
                </button>
            </div>
        </form>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
          <section id="slider" class="slider section dark-background">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="swiper init-swiper">

                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "centeredSlides": true,
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "navigation": {
                        "nextEl": ".swiper-button-next",
                        "prevEl": ".swiper-button-prev"
                      }
                    }
                  </script>

                <div class="swiper-wrapper">
                  {% for event in events_swipper %}
                    <div class="swiper-slide"
                      style="background-image: url('{{event.get_media.0.image.url}}');">
                      <div class="content">
                        <h2><a href="{% url "details" event.id %}">{{event.name}}</a></h2>
                        <p>{{event.details|slice:":100"}}.....</p>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                <div class="swiper-pagination"></div>
              </div>

            </div>

          </section>
        </div>

    </section>
    </div>


    <!-- NOTE: Needs to be formatted properly-->
    <section id="trending-category" class="trending-category section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="container" data-aos="fade-up">
          <div class="row g-5">
            <div class="col-lg-4">
              <div class="post-entry lg">
                <a href="{% url "details" events_trending.0.id %}"><img src="{{events_trending.0.get_media.0.image.url}}" alt=""
                    class="img-fluid"></a>
                <div class="post-meta"><span class="date">{{events_trending.0.genres.first}}</span> <span class="mx-1">•</span> 
                  <span>{{events_trending.0.date}}</span></div>
                <h2><a href="{% url "details" events_trending.0.id %}">{{events_trending.0.name}}</a></h2>
                <p class="mb-4 d-block">{{events_trending.0.details|slice:":100"}}...</p>

                {% comment %} <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{% static 'assets/img/person-1.jpg' %}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Cameron Williamson</h3>
                  </div>
                </div> {% endcomment %}
              </div>
            </div>

            <div class="col-lg-8">
              <div class="row g-5">
                <!-- NOTE: Loopable Content-->
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry">
                    <a href="{% url "details" events_trending.1.id%}"><img src="{{events_trending.1.get_media.0.image.url}}" alt=""
                        class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{events_trending.1.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_trending.1.date}}</span></div>
                    <h2><a href="{% url "details" events_trending.1.id%}">{{events_trending.1.name}}</a></h2>
                  </div>

                  <div class="post-entry">
                    <a href="{% url "details" events_trending.2.id%}"><img src="{{events_trending.2.get_media.0.image.url}}" alt=""
                        class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{events_trending.2.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_trending.2.date}}</span></div>
                    <h2><a href="{% url "details" events_trending.2.id%}">{{events_trending.2.name}}</a></h2>
                  </div>

                </div>
                
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry">
                    <a href="{% url "details" events_trending.3.id%}"><img src="{{events_trending.3.get_media.0.image.url}}" alt=""
                        class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{events_trending.3.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_trending.3.date}}</span></div>
                    <h2><a href="{% url "details" events_trending.3.id%}">{{events_trending.3.name}}</a></h2>
                  </div>
                  <div class="post-entry">
                    <a href="{% url "details" events_trending.4.id%}"><img src="{{events_trending.4.get_media.0.image.url}}" alt=""
                        class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{events_trending.4.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_trending.4.date}}</span></div>
                    <h2><a href="{% url "details" events_trending.4.id%}">{{events_trending.4.name}}</a></h2>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="trending">
                    <h3>Trending Genres</h3>
                    <ul class="trending-post">
                      {% for genre in genres %}
                      <li>
                        <a href="{% url 'get_genre' genre.name %}">
                          <h6>{{genre.name}}</h6>
                        </a>
                        </li>
                      {% endfor %}
                    </ul>
                </div>

              </div>
              
            </div> <!-- End .row -->
          </div>

        </div>

    </section><!-- /Trending Category Section -->

    <!-- Random Genre Section Start-->
    <section id="culture-category" class="culture-category section"> 

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>Check out these {{random_genre}} events!</h2>
          <p><a href="{% url "get_genre" random_genre %}">See All {{random_genre}} events</a></p>
        </div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry">
              <a href="{% url "details" events_section.0.id %}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{events_section.0.get_media.0.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta">
                  <span class="date">{{events_section.0.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_section.0.date}}</span>
                </div>
                <h3><a href="{% url "details" events_section.0.id %}">{{events_section.0.name}}</a></h3>
                <p>{{events_section.0.details|slice:":200"}}.....</p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-list border-bottom">
                  <a href="{% url "details" events_section.2.id %}"><img src="{{events_section.2.get_media.0.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta">
                    <span class="date">{{events_section.2.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_section.2.date}}</span>
                  </div>
                  <h2 class="mb-2"><a href="{% url "details" events_section.2.id %}">{{events_section.2.name}}</a></h2>
                  <p>{{events_section.2.details|slice:":100"}}.....</p>
                </div>

                <div class="post-list">
                  <div class="post-meta">
                    <span class="date">{{events_section.3.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_section.3.date}}</span>
                  </div>
                  <h2 class="mb-2"><a href="{% url "details" events_section.3.id%}">{{events_section.3.name}}</a></h2>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-list">
                  <a href="{% url "details" events_section.1.id %}"><img src="{{events_section.1.get_media.0.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta">
                    <span class="date">{{events_section.1.genres.first}}</span> <span class="mx-1">•</span> <span>{{events_section.1.date}}</span>
                  </div>
                  <h2 class="mb-2"><a href="{% url "details" events_section.1.id %}">{{events_section.1.name}}</a></h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            {% for event in events_section %}
            {% if forloop.counter > 3 and forloop.counter < 13 %}
            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">{{event.genres.first}}</span> <span class="mx-1">•</span> <span>{{event.date}}</span></div>
              <h2 class="mb-2"><a href="{% url "details" event.id %}">{{event.name}}</a></h2>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>

    </section> <!--Genre Section End-->

    </section><!-- /Starter Section Section -->
    {% endblock content %}
  </main>


  <!-- NOTE: Need to implement proper contact footer-->
  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Tickx</span>
          </a>
          <div class="footer-contact pt-3">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Hic solutasetp</h4>
          <ul>
            <li><a href="#">Molestiae accusamus iure</a></li>
            <li><a href="#">Excepturi dignissimos</a></li>
            <li><a href="#">Suscipit distinctio</a></li>
            <li><a href="#">Dilecta</a></li>
            <li><a href="#">Sit quas consectetur</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nobis illum</h4>
          <ul>
            <li><a href="#">Ipsam</a></li>
            <li><a href="#">Laudantium dolorum</a></li>
            <li><a href="#">Dinera</a></li>
            <li><a href="#">Trodelas</a></li>
            <li><a href="#">Flexo</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Tickx</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>